* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

/* Link behavior */
a:link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
color: inherit;
}


a:hover {
color: inherit;
}

a:active {
color: inherit;
}

/* Stretched image with title at top of page */

.image-title {
    margin-top: 100px;
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

.cover {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 300px;
    background-color: rgba(241, 241, 241, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover > h1 {
    display: none;
}

/* Body of member page and contact page */

.bli-medlem-info {
    width: 60vw;
    padding: 80px 0;
    position: absolute;
    top: calc((100px + 250px) - (42px + 40px)); /* Height of header + height of image - textheight/2 + padding/2 */
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

.bli-medlem-info > h1 {
    font-size: 3.5rem;
    margin-top: 0;
    text-align: center;
}

.important {
    font-size: 2rem;
    margin-top: 10px;
}

.bold {
    font-weight: bold;
    margin-top: -24px;
    font-size: 1.25rem
}

.bli-medlem-info > * {
    width: 90%;
}

.contact-information {
    font-size: 1.25rem;
    margin-top: 0;
}

@media only screen and (max-width: 855px), (pointer:none), (pointer:coarse) {
    /* Stretched image with title at top of page */
    .image-title {
        height: 200px;
        margin-top: 0px;
    }
    .cover {
        height: 200px;
        top: 0;
        font-size: 1.75rem;
    }
    .cover > h1 {
        display: unset;
    }

    /* Body of member page and contact page */
    .bli-medlem-info {
        top: 200px;
        box-shadow: unset;
        border-radius: unset;
        background-color: unset;
        padding: 25px 0;
        width: 95vw;
    }

    .bli-medlem-info > h1 {
        display: none;
    }

    .bold {
        margin-top: unset;
        font-size: 1rem;
    }

    .bli-medlem-info > * {
        width: 95%;
    }
 
    .important {
        font-size: 1.10rem;
    }

    .contact-information {
        font-size: 1rem;
    }
}

/* Layout for About, Goals and stadgar */

.flex-layout-row { /* Update name */
    width: 100vw;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
}

.flex-layout-row > * {
    width: 60%;
    padding: 0 50px;
}

.flex-layout-row h1 {
    font-size: 3.25rem;
}

.flex-layout-row p {
    font-size: 1.25rem;
}

#image-right {
    position: fixed;
    top: 50%;
    transform: translate(0, calc(-50% - 100px + (125px + 0.67em))); /* Move Image Down 50% of viewport height, move it up by 50% of its own height, move it up by the header height, move it down by the text margin top */ 
    right: 25px;
    border-radius: 15px;
    width: 25vw;
    height: 75vh;
    object-fit: cover;
}

@media only screen and (max-width: 855px), (pointer:none), (pointer:coarse) { 
    .flex-layout-row {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;    
        margin-top: 75px;
    }
    .flex-layout-row > * {
        max-width: 90%;
        padding: unset
    }
    .flex-layout-row p {
        max-height: unset;
        width: unset;
        font-size: 1rem;
    }
    .flex-layout-row h1 {
        font-size: 1.75rem;
        margin-bottom: 0;
        width: 100%;
    }
    #image-right {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
        height: unset;
        width: 90vw;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

/* Layout for styrelse page */

#styrelse-page-title {
    margin-top: 150px;
    font-size: 3.5rem;
    text-align: center;
}

.styrelse-flexbox-wrapper {
    padding: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.styrelse-flexbox-wrapper > div {
    width: 250px; 
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 0 5px gray;
    text-align: center;
    font-weight: bold;
}

.styrelse-flexbox-wrapper > div > img {
    width: 100%;
    height: 75%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}

.styrelse-flexbox-wrapper > div > h3 {
    margin: 0;
}

@media only screen and (max-width: 855px), (pointer:none), (pointer:coarse) { 
    #styrelse-page-title {
        margin-top: 75px;
    }
    .styrelse-flexbox-wrapper {
        width: 100vw;
        padding: 0 0 50px 0;
    }
    .styrelse-flexbox-wrapper > div {
        width: 300px;
        height: 425px;
    }
}