* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

/* Link behavior */
a:link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
color: inherit;
}


a:hover {
color: inherit;
}

a:active {
color: inherit;
}

/* Stretched image with title at top of page */

.image-title {
    margin-top: 100px;
    width: 100vw;
    height: 300px;
    object-fit: cover;
}

.cover {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 300px;
    background-color: rgba(241, 241, 241, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

/* Body of member page */

.bli-medlem-info {
    width: 60vw;
    padding: 100px 0;
    position: absolute;
    top: calc((100px + 250px) - (36px + 50px + 32px));
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px gray;
}

.bli-medlem-info > h1 {
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
}

.important {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
    margin-top: -24px;
    font-size: 1.25rem
}

.bli-medlem-info > * {
    width: 90%;
}

@media only screen and (max-width: 855px), (pointer:none), (pointer:coarse) {
    .image-title {
        height: 200px;
        margin-top: 0px;
    }
    .cover {
        height: 200px;
        top: 0;
        font-size: 1.75rem;
    }

    .bli-medlem-info {
        top: 200px;
        box-shadow: unset;
        border-radius: unset;
        background-color: unset;
        padding: 25px 0;
        width: 95vw;
    }

    .bli-medlem-info > h1 {
        text-align: left;
    }

    .bold {
        margin-top: unset;
        font-size: 1rem;
    }

    .bli-medlem-info > * {
        width: 90%;
    }
 
    .important {
        font-size: 1.10rem;
    }
}