* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    overflow-x: hidden;
}

/* Link behavior */
a:link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
color: inherit;
}


a:hover {
color: inherit;
}

a:active {
color: inherit;
}

/* Homepage Background Image */
.background-image {
    z-index: -1;
    position: absolute;
    width: 100vw;
    right: 0;
    height: 95vh;
    object-fit: cover;
}

.background-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Homepage Frontscreen */ 

.homepage-frontscreen {
    display: flex;
    width: 100vw;
    height: 85vh;
}

.homepage-left {
    width: calc(100vw * (2/5));
    background-color: rgba(253, 253, 253, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homepage-right {
    width: calc(100vw * (3/5));
    background-color: rgba(26, 26, 26, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.homepage-right > * {
    max-width: 75%;
    margin-left: 50px;
}

.homepage-right > h2 {
    font-size: 2rem;
}

.homepage-right > p {
    font-size: 1.25rem;
}

.homepage-right > a {
    margin: 25px 0 0 50px;
    text-align: center;
    width: fit-content;
    background-color: white;
    color: black;
    padding: 10px 50px;
    border-radius: 9999px;
    font-weight: bold;
}

/* Homepage Infoscreen */ 

.homepage-info {
    background-color: #F1F1F1;
    padding: 15px 0 50px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.homepage-info > div {
    width: 50%;
    text-align: justify;
}

.homepage-info-images-text { /* Wrap text and image when they should be beside each other*/
    width: 100%;
    display: flex;
    gap: 50px;
}

.homepage-info-images-text > img {
    height: 200px;
}


.homepage-info-images { /* Normal image Layout (Above or below text) */
    display: flex;
    justify-content: space-around;
    gap: 25px;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 25px 0;
}

.homepage-info-images > img {
    max-width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px;
}

@media only screen and (max-width: 855px), (pointer:none), (pointer:coarse) {
    .background-image {
        position: fixed;
        height: 100vh;
    }

    /* Homepage Frontscreen */
    .homepage-frontscreen {
        flex-direction: column;
        height: unset;
    }
    .homepage-left {
        width: 100vw;
        height: calc(100vh * (2/5));
    }
    .homepage-right {
        width: 100vw;
        height: unset;
        padding: 50px 15px;
    }
    .homepage-right > * {
        max-width: 90%;
        margin-left: unset;
    }
    .homepage-right > h2 {
        font-size: 1.25rem;
    }
    
    .homepage-right > p {
        font-size: 1.15rem;
    }
    .homepage-right > a {
        margin: unset;
    }

    /* Homepage Infoscreen */
    .homepage-info > div {
        width: 90%;
        text-align: left;
    }
    .homepage-info-images-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: unset;
    }
    .homepage-info-images-text > img {
        height: unset;
        max-width: 100%;
        padding: 25px 0;
    }
    .homepage-info-images {
        flex-direction: column;
    }
    
}